.product-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3vh;
  justify-content: center;
}

.sc-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid gray;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 1vh;
  margin-top: 1vh;
}

.item-desc {
  max-width: 15rem;
  margin-bottom: 5px;
}

.item-title {
  margin-bottom: 2vh;
  font-size: larger;
  font-weight: 500;
}

.item-price {
  font-size: medium;
  font-weight: 800;
}
.detail-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.product-title {
  font-size: large;
  font-weight: 500;
  padding: 6px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: 0.5s;
}
.carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.s-bar{
  max-width: 25%;
  border: 1px solid black;
  border-radius: 25px;
}
.product-title:hover {
  background-color: salmon;
  border-radius: 10px;
  padding: 6px;
  color: #fff;
  cursor: pointer;
}
.product-item {
  gap: 8px;
  padding: 3vh;
  border-bottom: 1px solid greenyellow;
}

.product-desc {
  display: flex;
  flex-direction: row;
}
.center{
  justify-content: center;
  gap:10vh
}